$blue: rgb(4, 167, 189);
$bg: #ffffff;
$white: #fafafa;
$black: #343a40;
$c_gray: #6e768e;
* {
  font-family: arial;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  background: $bg;
  width: 100%;
  // nav-bar style
  .top-nav {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    background: $white;
    padding: 1% 10% 1% 10%;
    align-items: center;
    border-radius: 5px;
    width: 100%;
    .logo {
      // border: 2px solid salmon;
      height: auto;
      width: 45%;
      a img {
        width: 150px;
        height: 40px;
      }
    }
    .search {
      display: flex;
      // border: 2px solid red;
      padding: 1px;
      width: 27%;
      column-gap: 2px;
      form {
        display: flex;
        padding: 7px;
        border: 1px solid grey;
        border-radius: 2px;
        width: 100%;
        background: $bg;
        input {
          padding: 5px;
          width: 90%;
          font-size: 13px;
          border-radius: 5px;
          outline: none;
          border: none;
        }
        button {
          width: 50px;
          border: none;
          font-size: 19px;
          border-radius: 4px;
          background: $bg;
        }
      }
    }
    .sett {
      position: relative;
      // border: 3px solid #343a40;
      margin-left: 0px;
      padding: 3px;
      .user {
        display: flex;
        align-items: center;
        column-gap: 16px;
        select {
          border-radius: 2px;
          border: 1px solid grey;
          background: #efeff0;
          padding: 10px;
          font-size: 15px;
        }
        button {
          padding: 12px;
          font-size: 15px;
          color: #ffffff;
          border-radius: 2px;
          outline: none;
          border: none;
          background: #e42672;
          
          &:hover{
            text-decoration: underline;
            background-color:#ad1954; 
          }
        }
      }
    }
  }
  // end of nav-bar style
  // menus design
  .main-cont {
    .menus {
      display: flex;
      margin-top: 1%;
      justify-content: space-between;
      padding: 0 10% 0 10%;
      align-items: center;
      border-radius: 5px;
      width: 100%;
      a {
        text-decoration: none;
        font-size: small;
        padding: 9px;
        // border:1px solid #0d33a7;
        color: #343a40;
        &:hover {
          background: rgb(215, 236, 236);
          color: blue;
        }
      }
    }
  }
  // end of menus design
  // background design
  .background {
    // border: 1px solid #df1d6b;
    display: flex;
    background: #343a40;
    margin-top: 3%;
    width: 100%;
    height: 450px;
    .bg-image {
      position: relative;
      width: 100%;
      a {
        img {
          width: fit-content;
          width: 100%;
          height: 450px;
        }
      }
    }
    .link {
      width: 80%; // border: 2px solid #df1d6b;
      position: absolute;
      margin-top: 5.5%;
      margin-left: 11.7%;

      .another {
        // max-width: 38%;
        max-width: 460px;
        background: #f6c608;
        padding: 1.3%;
        a {
          text-decoration: none;
          font-size: 24px;
          padding: 3%;
          color: #000000;
          line-height: 1.6;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  // end of background design
  .about-section {
    display: flex;
    padding: 5% 10% 3% 10%;
    width: 100%;
    max-height: 450px;
    gap:5px;
    .text-about {
      
      width: 67%;
      // border: 1px solid #df1d6b;
      padding: 4px;
      height: 250px;
      p {
        font-size: 16px;
        letter-spacing: 1px;
        font-family: arial;
        line-height: 2;
      }
    }
    .protect {
      // border: 1px solid #df1d6b;
      width: 27%;
      button {
        margin-top: 8px;
        cursor: pointer;
        background-color: #3a25ff;
        border: none;
        padding: 7px;
        border-radius: 2px;
        color: #ffffff;
        font-size: 17px;
        &:hover{
          text-decoration: underline;
          background-color: #2819b0;
        }
      }
      p {
        margin-top: 3px;
        font-size: smaller;
        color: #343a40;
      }
    }
  }

  .laguages {
    display: flex;
    // border: 1px solid #3a25ff;
    padding: 1% 10% 0% 10%;
    justify-content: center;
    .list-language{
      width: 100%;
      padding: 3%;
      // border: 2px solid #df1d6b;
      text-align: center;
      a{
        text-decoration: none;
        color: #3a25ff;
        margin-right: 2%;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
  .numbers{
    display: flex;
    margin-bottom: 2.3rem;
    align-items: normal;
    box-sizing: border-box;
    padding: 5% 10% 2% 10%;
    .number{
      padding: 2%;
        flex-grow: 1;
        min-width: 0;
        overflow-wrap: break-word;
        word-break: break-word;
  
    }
  }
}
